<footer class="page-footer font-small blue bg-dark text-white">
  <!-- Copyright -->
  <div class="footer-copyright text-center font-italic font-weight-light py-3">
    © 2021 Copyright: Sunshine Hostel
  </div>
  <!-- Copyright -->
</footer>
