<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Admin Login</title>
  </head>
  <body>
    <%-include("partials/header");-%>
    <div class="container w-75 mt-5 mb-5">
      <form action="/adminlogin" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Admin Id </label>
          <input
            type="text"
            name="adminId"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="fixed-bottom">
      <p class="font-weight-light text-center">
        This page is only accessible by hostel management. If you came here by
        mistake return back to <a href="/"> home page</a>
      </p>
      <%-include("partials/footer");-%>
    </div>
  </body>
</html>
